<ActionBar class="action-bar">
    <Label class="action-bar-title" [text]="title"></Label>
</ActionBar>

<GridLayout class="page">
    <StackLayout>
        <Button class="btn btn-primary btn-active" id="button" text="Print Dummy PDF" (tap)="printDummyPdf($event)"></Button>
    </StackLayout>
</GridLayout>